[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
	branch = Humble-v4.2.5
[submodule "ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git
	branch = ros2
[submodule "src/ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
