[submodule "src/kindr_ros"]
	path = src/kindr_ros
	url = https://github.com/SivertHavso/kindr_ros.git
	branch = ros2
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git
	branch = ros2
[submodule "src/elevation_mapping_cupy"]
	path = src/elevation_mapping_cupy
	url = https://github.com/jwag/elevation_mapping_cupy.git
	branch = ros2_humble
