<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arm_urdf_ros2_control" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- By default, set up controllers for simulation. This won't work on real hardware -->
        <!--<plugin>mock_components/GenericSystem</plugin> !-->
        <plugin>ros2_control_rover_arm/RoverArmHardwareInterface</plugin>
      </hardware>
      <joint name="Joint_1">
        <param name="can_id">1</param>
        <param name="kP">0.1</param>
        <param name="kI">0.0</param>
        <param name="kD">0.0</param>
        <param name="control_type">velocity</param> <!-- or "position" -->
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">true</param> <!-- or "continuous" -->
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_2">
        <param name="can_id">2</param>
        <param name="kP">0.1</param>
        <param name="kI">0.0</param>
        <param name="kD">0.0</param>
        <param name="control_type">velocity</param> <!-- or "position" -->
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">true</param> <!-- or "continuous" -->
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_3">
        <param name="can_id">3</param>
        <param name="kP">0.1</param>
        <param name="kI">0.0</param>
        <param name="kD">0.0</param>
        <param name="control_type">velocity</param> <!-- or "position" -->
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">true</param> <!-- or "continuous" -->
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_4">
        <param name="can_id">4</param>
        <param name="kP">0.1</param>
        <param name="kI">0.0</param>
        <param name="kD">0.0</param>
        <param name="control_type">velocity</param> <!-- or "position" -->
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">true</param> <!-- or "continuous" -->
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_5">
        <param name="can_id">5</param>
        <param name="kP">0.1</param>
        <param name="kI">0.0</param>
        <param name="kD">0.0</param>
        <param name="control_type">velocity</param> <!-- or "position" -->
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">true</param> <!-- or "continuous" -->
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Joint_6">
        <param name="can_id">6</param>
        <param name="kP">0.1</param>
        <param name="kI">0.0</param>
        <param name="kD">0.0</param>
        <param name="control_type">velocity</param> <!-- or "position" -->
        <param name="sensor_type">absolute</param> <!-- or "quadrature" -->
        <param name="sensor_ticks">4096</param>
        <param name="sensor_offset">0.0</param>
        <param name="crossover">true</param> <!-- or "continuous" -->
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
